<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <% for (const mat of mats) { %>
    <p><%= mat.name %> <%= mat.quantity %></p>
  <% } %>
</body>
</html>